@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



/* VARIABLES */



$dark-main : #aec1ae;
$white-main: #f7f7f7;
$btn-text  : #524231;
$light-main: #e3d8c9;
$bg-color  : #ffffff;



/* MIXINS */



@mixin transitionStyle( $type, $time, $style ) {
	-webkit-transition: $type $time $style;
	-moz-transition   : $type $time $style;
	-ms-transition    : $type $time $style;
	-o-transition     : $type $time $style;
	transition        : $type $time $style;
}

@mixin translateStyle( $x, $y ) {
	-webkit-transform : translate( $x, $y );
	-moz-transform    : translate( $x, $y );
	-ms-transform     : translate( $x, $y );
	-o-transform      : translate( $x, $y );
	transform         : translate( $x, $y );
}

@mixin translateStyleThreeD( $x, $y, $z ) {
	-webkit-transform : translate3d( $x, $y, $z );
	-moz-transform    : translate3d( $x, $y, $z );
	-ms-transform     : translate3d( $x, $y, $z );
	-o-transform      : translate3d( $x, $y, $z );
	transform         : translate3d( $x, $y, $z );
}

@mixin animationFunc( $ani, $s, $event ) {
	-webkit-animation: $ani $s $event;
	-moz-animation   : $ani $s $event;
	-ms-animation    : $ani $s $event;
	-o-animation     : $ani $s $event;
	animation        : $ani $s $event;
}



/* GENERAL SITE STYLING */



html {
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow            : 0 0 1px rgba(128,128,128,0.01);
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select        : none;
	-moz-user-select           : -moz-none;
	-ms-user-select            : none;
	user-select                : none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"], textarea, [contenteditable] {
	-webkit-user-select: text;
	-moz-user-select   : text;
	-ms-user-select    : text;
	user-select        : text;
}

body {
	font-family     : 'Archivo Narrow', serif;
	background-color: $bg-color;
}



/* ID SPECIFIC */



#find-all {
	background         :  url(../../../public/images/allparks.jpg) no-repeat left center;
	background-size    : 100%;
	background-position: center;

	@media ( min-width: $screen-sm ) {
		width                : 640px;
		background-position-y: -200px; /* to show trees in image */
	}
}

#find-parks-page {
	display   : none; //must be non existant on page load
	height    : 100vh;
	position  : relative;
	padding   : 0;
	margin    : 0 auto;
	max-height: 100%; /*firefox*/
	overflow  : hidden;
	width     : 768px;
	max-width : 100%;
}



/* GENERAL CLASSES */



.title {
	letter-spacing: 10px;
	@include transitionStyle(all, .1s, ease-in-out);
}

.sub-title {
	letter-spacing: 3px;
	@include transitionStyle(all, .1s, ease-in-out);
}

.description {
	font-size: 16px;
	padding  : 0 10px;
	@include transitionStyle(all, .1s, ease-in-out);
}

.reset-btn {
	position        : fixed;
	bottom          : 2%;
	right           : 2%;
	margin-right    : 52px;
	display         : none;
	width           : 33px;
	height          : 33px;
	border-radius   : 16px;
	border          : 2px solid $light-main;
	background-color: $dark-main;
	text-align      : center;
	color           : $btn-text;
	font-size       : 17px;
	z-index         : 1;
	cursor          : pointer;
	font-weight     : bold;

	&:active {
		opacity: .8;
	}

	i {
		line-height: 28px;
	}

	// @media ( min-width: $screen-lg ) {
	// 	left       : 50%;
	// 	right      : 0;
	// 	margin-left: -60px;

	// 	i {
	// 		margin-left: 1px;
	// 	}
	// }
}

.gmap {
	width: 100%;
	height: 40%;
}

.fire-btn {
	position        : fixed;
	bottom          : 2%;
	right           : 2%;
	display         : none;
	width           : 50px;
	height          : 50px;
	border-radius   : 25px;
	border          : 3px solid $light-main;
	background-color: $dark-main;
	text-align      : center;
	line-height     : 44px;
	color           : $btn-text;
	font-size       : 19px;
	z-index         : 1;
	cursor          : pointer;
	font-weight     : bold;

	&:active {
		opacity: .8;
	}

	// @media ( min-width: $screen-lg ) {
	// 	left       : 50%;
	// 	right      : 0;
	// 	margin-left: -25px;
	// }
}

.fire-btn-shadow {
	position          : fixed;
	bottom            : 2%;
	right             : 2%;
	display           : none;
	width             : 50px;
	height            : 50px;
	border-radius     : 25px;
	background-color  : $white-main;
	z-index           : 0;
	-webkit-box-shadow: 0px 8px 36px -9px rgba(0,0,0,1);
	-moz-box-shadow   : 0px 8px 36px -9px rgba(0,0,0,1);
	box-shadow        : 0px 8px 36px -9px rgba(0,0,0,1);

	// @media ( min-width: $screen-lg ) {
	// 	left       : 50%;
	// 	right      : 0;
	// 	margin-left: -25px;
	// }
}

.reset-btn-shadow {
	position          : fixed;
	bottom            : 2%;
	right             : 2%;
	margin-right      : 52px;
	display           : none;
	width             : 33px;
	height            : 33px;
	border-radius     : 16px;
	background-color  : $white-main;
	z-index           : 0;
	-webkit-box-shadow: 0px 8px 36px -9px rgba(0,0,0,1);
	-moz-box-shadow   : 0px 8px 36px -9px rgba(0,0,0,1);
	box-shadow        : 0px 8px 36px -9px rgba(0,0,0,1);

	// @media ( min-width: $screen-lg ) {
	// 	left       : 50%;
	// 	right      : 0;
	// 	margin-left: -60px;
	// }
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.park-nav {
	ul {
		list-style: none;
		margin    : 0;
		padding   : 0;

		@media ( min-width: $screen-sm )
		{
			width     : 640px;
			margin    : 0 auto;
			text-align: center;
		}

		li {
			position: relative;
			height  : 150px;
			width   : auto;
			margin  : 5px 0 5px 0;

			@media ( min-width: $screen-sm )
			{
				width   : 318px; /*account for padding*/
				margin  : 0 auto;
				overflow: hidden;
				display : inline-block;
			}

			p {
				position  : absolute;
				bottom    : 0;
				left      : 0;
				margin    : 0;
				padding   : 5px 0 5px 10%;
				width     : 100%;
				font-size : 22px;
				color     : $white-main;
				font-style: normal;
				text-align: left;
				background: rgba(82,66,49,0.8);
				background: -moz-linear-gradient(left, rgba(82,66,49,0.8) 41%, rgba(82,66,49,0.34) 75%, rgba(255,255,255,0) 100%);
				background: -webkit-gradient(left top, right top, color-stop(41%, rgba(82,66,49,0.8)), color-stop(75%, rgba(0,0,0,0.34)), color-stop(100%, rgba(255,255,255,0)));
				background: -webkit-linear-gradient(left, rgba(82,66,49,0.8) 41%, rgba(82,66,49,0.34) 75%, rgba(255,255,255,0) 100%);
				background: -o-linear-gradient(left, rgba(82,66,49,0.8) 41%, rgba(82,66,49,0.34) 75%, rgba(255,255,255,0) 100%);
				background: -ms-linear-gradient(left, rgba(82,66,49,0.8) 41%, rgba(82,66,49,0.34) 75%, rgba(255,255,255,0) 100%);
				background: linear-gradient(to right, rgba(82,66,49,0.8) 41%, rgba(82,66,49,0.34) 75%, rgba(255,255,255,0) 100%);
				filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#524231', endColorstr='#ffffff', GradientType=1 );
				@include transitionStyle( all, .2s, ease-out );
			}
			&:hover {
				p {
					@include translateStyle( -5px, 0px );
				}
			}
		}
	}
}

.li-bg {
	@include transitionStyle( all, .2s, ease-in-out );
	opacity: .9;
	&:hover {
		cursor : pointer;

		.li-overlay {
			background-color: #fff;
		}
	}
	&:active {
		opacity: 1;
	}
}

.li-overlay {
	position        : absolute;
	top             : 72.5%;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: #aec1ae;
	opacity         : .6;
	@include transitionStyle( all, .5s, ease-in-out );
}

.li-overlay-white {
	position        : absolute;
	top             : 69%;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: #fff;
}

.park-distance-ul {
	overflow: hidden;
	width: 100%;
	height: 76px;
}

.park-distance-ul ul {
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	white-space: nowrap;
	padding-bottom: 17px;
}

.park-distance-ul ul li {
	list-style: none;
	display: inline-block;
	height: 75px;
	width: 75px;
	border: 1px solid #e3d8c9;
	margin: 0;
	font-size: 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	@include transitionStyle(all, 1s, ease-in-out);
	background-color: rgba(174,193,174,1);
	background: rgba(174,193,174,1);
	background: -moz-linear-gradient(45deg, rgba(174,193,174,1) 0%, rgba(185,199,185,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(174,193,174,1)), color-stop(100%, rgba(185,199,185,1)));
	background: -webkit-linear-gradient(45deg, rgba(174,193,174,1) 0%, rgba(185,199,185,1) 100%);
	background: -o-linear-gradient(45deg, rgba(174,193,174,1) 0%, rgba(185,199,185,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(174,193,174,1) 0%, rgba(185,199,185,1) 100%);
	background: linear-gradient(45deg, rgba(174,193,174,1) 0%, rgba(185,199,185,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aec1ae', endColorstr='#b9c7b9', GradientType=1 );
}

.park-distance-ul ul li:hover {
	opacity: .5;
	@include transitionStyle(all, .1s, ease-in-out);
}

.park-distance-ul ul li span {
	font-size: 20px;
	display: inline-block;
	position: relative;
	top: 50%;
	left: 0;
	margin-top: -14px;
	color: #524231;
}

.svg-check {
	display    : none;
	position   : absolute;
	top        : 50%;
	left       : 50%;
	margin-left: -20px;
	margin-top : -20px;
	width      : 40px;
	height     : 40px;
}

footer {
	color    : $dark-main;
	font-size: 10px;
	margin   : 10px;
}

@media all and (min-width: 768px) {
	.park-distance-ul {
		height: auto;
	}

	.park-distance-ul ul {
		padding-bottom: 0;
	}
}



/* TRANSITION SPECIFIC */



.ani-left {
	@include translateStyleThreeD( -2000px, 0, 0);
	opacity: 0;
}

.ani-right {
	@include translateStyleThreeD( 0, 0, 0);
	opacity: 1;
}

.ani-fadeOut {
	opacity: 0;
}

.ani-fadeIn {
	opacity: 1;
}



/* ANIMATION SPECIFIC */



.zoom-check {
	@include animationFunc( zoomAni, .5s, forwards );
}

.zoom-check-reverse {
	@include animationFunc( zoomAniRev, .5s, forwards );
}

.zoom-check-shadow {
	@include animationFunc( zoomAniRevShadow, .5s, forwards );
}

.zoom-check-shadow-reverse {
	@include animationFunc( zoomAniRevShadowRev, .5s, forwards );
}

.slide-center {
	@include animationFunc( slideAni, .5s, forwards );
}



/* KEY FRAMES */



@-webkit-keyframes zoomAni {
    0% {
		-webkit-transform: scale( 0, 0 ) rotate( 0deg );
		transform        : scale( 0, 0 ) rotate( 0deg );
    }
    100% {
		-webkit-transform: scale( 1, 1 ) rotate( 360deg );
		transform        : scale( 1, 1 ) rotate( 360deg );
    }
}

@keyframes zoomAni {
   0% {
		transform: scale( 0, 0 ) rotate( 0deg );
    }
    100% {
		transform: scale( 1, 1 ) rotate( 360deg );
    }
}

@-moz-keyframes zoomAni {
    0% {
		-moz-transform: scale( 0, 0 ) rotate( 0deg );
		transform     : scale( 0, 0 ) rotate( 0deg );
    }
    100% {
		-moz-transform: scale( 1, 1 ) rotate( 360deg );
		transform     : scale( 1, 1 ) rotate( 360deg );
    }
}

@-o-keyframes zoomAni {
    0% {
		-o-transform: scale( 0, 0 ) rotate( 0deg );
		transform   : scale( 0, 0 ) rotate( 0deg );
    }
    100% {
		-o-transform: scale( 1, 1 ) rotate( 360deg );
		transform   : scale( 1, 1 ) rotate( 360deg );
    }
}

@-webkit-keyframes zoomAniRev {
    0% {
		-webkit-transform: scale( 1, 1 ) rotate( 0deg );
		transform        : scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		-webkit-transform: scale( 0, 0 ) rotate( 360deg );
		transform        : scale( 0, 0 ) rotate( 360deg );
    }
}

@keyframes zoomAniRev {
   0% {
		transform: scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		transform: scale( 0, 0 ) rotate( 360deg );
    }
}

@-moz-keyframes zoomAniRev {
    0% {
		-moz-transform: scale( 1, 1 ) rotate( 0deg );
		transform     : scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		-moz-transform: scale( 0, 0 ) rotate( 360deg );
		transform     : scale( 0, 0 ) rotate( 360deg );
    }
}

@-o-keyframes zoomAniRev {
    0% {
		-o-transform: scale( 1, 1 ) rotate( 0deg );
		transform   : scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		-o-transform: scale( 0, 0 ) rotate( 360deg );
		transform   : scale( 0, 0 ) rotate( 360deg );
    }
}

@-webkit-keyframes zoomAniRevShadow {
    0% {
		-webkit-transform: scale( 0, 0 );
		transform        : scale( 0, 0 );
    }
    100% {
		-webkit-transform: scale( 1, 1 );
		transform        : scale( 1, 1 );
    }
}

@keyframes zoomAniRevShadow {
   0% {
		transform: scale( 0, 0 );
    }
    100% {
		transform: scale( 1, 1 );
    }
}

@-moz-keyframes zoomAniRevShadow {
    0% {
		-moz-transform: scale( 0, 0 );
		transform     : scale( 0, 0 );
    }
    100% {
		-moz-transform: scale( 1, 1 );
		transform     : scale( 1, 1 );
    }
}

@-o-keyframes zoomAniRevShadow {
    0% {
		-o-transform: scale( 0, 0 );
		transform   : scale( 0, 0 );
    }
    100% {
		-o-transform: scale( 1, 1 );
		transform   : scale( 1, 1 );
    }
}

@-webkit-keyframes zoomAniRevShadowRev {
    0% {
		-webkit-transform: scale( 1, 1 );
		transform        : scale( 1, 1 );
    }
    100% {
		-webkit-transform: scale( 0, 0 );
		transform        : scale( 0, 0 );
    }
}

@keyframes zoomAniRevShadowRev {
   0% {
		transform: scale( 1, 1 );
    }
    100% {
		transform: scale( 0, 0 );
    }
}

@-moz-keyframes zoomAniRevShadowRev {
    0% {
		-moz-transform: scale( 1, 1 );
		transform     : scale( 1, 1 );
    }
    100% {
		-moz-transform: scale( 0, 0 );
		transform     : scale( 0, 0 );
    }
}

@-o-keyframes zoomAniRevShadowRev {
    0% {
		-o-transform: scale( 1, 1 );
		transform   : scale( 1, 1 );
    }
    100% {
		-o-transform: scale( 0, 0 );
		transform   : scale( 0, 0 );
    }
}

@-webkit-keyframes slideAni {
    0% {
		-webkit-transform: translate( -5px, 0px );
		transform        : translate( -5px, 0px );
    }
    100% {
		-webkit-transform: translate( -5px, 0px );
		transform        : translate( -5px, 0px );
    }
}

@keyframes slideAni {
   0% {
		transform: translate( -5px, 0px );
    }
    100% {
		transform: translate( -5px, 0px );
    }
}

@-moz-keyframes slideAni {
    0% {
		-moz-transform: translate( -5px, 0px );
		transform     : translate( -5px, 0px );
    }
    100% {
		-moz-transform: translate( -5px, 0px );
		transform     : translate( -5px, 0px );
    }
}

@-o-keyframes slideAni {
    0% {
		-o-transform: translate( -5px, 0px );
		transform   : translate( -5px, 0px );
    }
    100% {
		-o-transform: translate( -5px, 0px );
		transform   : translate( -5px, 0px );
    }
}