@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



/* VARIABLES */



$dark-main : #71e271;
$white-main: #f7f7f7;
$btn-text  : #524231;
$light-main: #00ca3e;
$bg-color  : #ffffff;



/* MIXINS */



@mixin transitionStyle( $type, $time, $style ) {
	-webkit-transition: $type $time $style;
	-moz-transition   : $type $time $style;
	-ms-transition    : $type $time $style;
	-o-transition     : $type $time $style;
	transition        : $type $time $style;
}

@mixin translateStyle( $x, $y ) {
	-webkit-transform : translate( $x, $y );
	-moz-transform    : translate( $x, $y );
	-ms-transform     : translate( $x, $y );
	-o-transform      : translate( $x, $y );
	transform         : translate( $x, $y );
}

@mixin translateStyleThreeD( $x, $y, $z ) {
	-webkit-transform : translate3d( $x, $y, $z );
	-moz-transform    : translate3d( $x, $y, $z );
	-ms-transform     : translate3d( $x, $y, $z );
	-o-transform      : translate3d( $x, $y, $z );
	transform         : translate3d( $x, $y, $z );
}

@mixin transformGeneral( $type ) {
	-webkit-transform : $type;
	-moz-transform    : $type;
	-ms-transform     : $type;
	-o-transform      : $type;
	transform         : $type;
}

@mixin animationFunc( $ani, $s, $event ) {
	-webkit-animation: $ani $s $event;
	-moz-animation   : $ani $s $event;
	-ms-animation    : $ani $s $event;
	-o-animation     : $ani $s $event;
	animation        : $ani $s $event;
}



/* GENERAL SITE STYLING */



html {
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow            : 0 0 1px rgba(128,128,128,0.01);
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select        : none;
	-moz-user-select           : -moz-none;
	-ms-user-select            : none;
	user-select                : none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"], textarea, [contenteditable] {
	-webkit-user-select: text;
	-moz-user-select   : text;
	-ms-user-select    : text;
	user-select        : text;
}

body {
	font-family     : 'Archivo Narrow', serif;
	background-color: $bg-color;
}



/* ID SPECIFIC */



#find-all {
	background         :  url(../../../public/images/allparks.jpg) no-repeat left center;
	background-size    : 100%;
	background-position: center;

	@media ( min-width: $screen-sm ) {
		width                : 640px;
		background-position-y: -200px; /* to show trees in image */
	}
}

#find-parks-page {
	display   : none; //must be non existant on page load
	height    : 100vh;
	position  : relative;
	padding   : 0;
	margin    : 0 auto;
	max-height: 100%; /*firefox*/
	overflow  : hidden;
	width     : 768px;
	max-width : 100%;
}

#park-info-name {
	font-size: 20px;
	margin: 10px 0;
	color: $light-main;
}



/* GENERAL CLASSES */

header {
	margin: 40px;
}

.logo-img {
	width: 50px;
	float: left;
}

.header-cont {
	width: 640px;
	max-width: 100%;
	margin: 0 auto;
}

.sub-header-cont {
	@extend .header-cont;
	padding: 10px 10px;
}

.title {
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 30px;
	float: left;
	line-height: 50px;
	margin: 0;
	padding: 10px 0 0 0;
	@include transitionStyle(all, .1s, ease-in-out);

	@media (min-width: $screen-sm)
	{
		font-size: 36px;
		padding: 0 0 0 30px;
		line-height: 60px;
	}
}

.sub-title {
	letter-spacing: 1px;
	font-size: 23px;
	font-weight: 700;
	@include transitionStyle(all, .1s, ease-in-out);

	@media (min-width: $screen-sm)
	{
		font-size: 30px;
	}
}

.description {
	font-size: 16px;
	@include transitionStyle(all, .1s, ease-in-out);
}

.reset-btn {
	position        : fixed;
	bottom          : 2%;
	right           : 2%;
	margin-right    : 52px;
	display         : none;
	width           : 33px;
	height          : 33px;
	border-radius   : 16px;
	border          : 2px solid $light-main;
	background-color: $dark-main;
	text-align      : center;
	color           : $btn-text;
	font-size       : 17px;
	z-index         : 1;
	cursor          : pointer;
	font-weight     : bold;

	&:active {
		opacity: .8;
	}

	i {
		margin: 0;
	    padding: 0;
	    position: relative;
    	top: 2px;
	}
}

.gmap {
	width: 100%;
	height: 40%;
}

.fire-btn {
	position        : fixed;
	bottom          : 2%;
	right           : 2%;
	display         : none;
	width           : 50px;
	height          : 50px;
	border-radius   : 25px;
	border          : 3px solid $light-main;
	background-color: $dark-main;
	text-align      : center;
	line-height     : 44px;
	color           : $btn-text;
	font-size       : 19px;
	z-index         : 1;
	cursor          : pointer;
	font-weight     : bold;

	&:active {
		opacity: .8;
	}
}

.fire-btn-shadow {
	position          : fixed;
	bottom            : 2%;
	right             : 2%;
	display           : none;
	width             : 50px;
	height            : 50px;
	border-radius     : 25px;
	background-color  : $white-main;
	z-index           : 0;
	-webkit-box-shadow: 0px 8px 36px -9px rgba(0,0,0,1);
	-moz-box-shadow   : 0px 8px 36px -9px rgba(0,0,0,1);
	box-shadow        : 0px 8px 36px -9px rgba(0,0,0,1);
}

.reset-btn-shadow {
	position          : fixed;
	bottom            : 2%;
	right             : 2%;
	margin-right      : 52px;
	display           : none;
	width             : 33px;
	height            : 33px;
	border-radius     : 16px;
	background-color  : $white-main;
	z-index           : 0;
	-webkit-box-shadow: 0px 8px 36px -9px rgba(0,0,0,1);
	-moz-box-shadow   : 0px 8px 36px -9px rgba(0,0,0,1);
	box-shadow        : 0px 8px 36px -9px rgba(0,0,0,1);
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.park-nav {
	ul {
		list-style: none;
		margin    : 0;
		padding   : 0;
		overflow  : hidden;

		@media ( min-width: $screen-sm )
		{
			width     : 640px;
			margin    : 0 auto;
			text-align: center;
		}

		li {
			position: relative;
			height  : 150px;
			width   : auto;
			padding : 5px 0 5px 0;

			@media ( min-width: $screen-sm )
			{
				width   : 318px; /*account for padding*/
				margin  : 0 auto;
				overflow: hidden;
				display : inline-block;
			}

			p {
				position  : absolute;
				bottom    : 0;
				left      : 0;
				margin    : 0;
				padding   : 5px 0 5px 10%;
				width     : 100%;
				font-size : 22px;
				color     : #006512;
				font-style: normal;

				@include transitionStyle( all, .2s, ease-out );
			}

			@media ( min-width: $screen-sm )
			{
				p {
					padding: 5px 40px 5px 10%;
				}

				&:nth-child(1n) {
					text-align: right;
				}
				&:nth-child(2n) {
					text-align: left;
				}
			}
		}
	}
}

.li-bg {
	@include transitionStyle( all, .6s, ease-in-out );
	opacity: .9;
	&:hover {
		cursor : pointer;

		.li-overlay {
			background-color: #fff;
		}
	}
	&:active {
		opacity: 1;
	}
}

.li-overlay {
	position        : absolute;
	top             : 72.5%;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: transparent;
	opacity         : .6;
	@include transitionStyle( all, .5s, ease-in-out );
}

.li-overlay-white {
	position        : absolute;
	top             : 72%;
	left            : 0;
	right           : 0;
	bottom          : 0;
	background-color: #fff;
}

.park-list-container {
	position: relative;
	width: 100%;
}

.park-distance-ul {
	overflow: hidden;
	width: 100%;
	height: 76px;

	@media all and (min-width: $screen-sm) {
		height: auto;
	}

	ul {
		margin: 0;
		padding: 0;
		overflow-x: scroll;
		white-space: nowrap;
		padding-bottom: 17px;

		@media all and (min-width: $screen-sm) {
			padding-bottom: 0;
		}

		li {
			list-style: none;
			position: relative;
			display: inline-block;
			height: 75px;
			width: 75px;
			border: 6px solid $dark-main;
			margin: 0 1px;
			font-size: 0;
			vertical-align: middle;
			text-align: center;
			cursor: pointer;
			@include transitionStyle(all, 1s, ease-in-out);

			&:hover {
				opacity: .7;
				@include transitionStyle(all, .1s, ease-in-out);
			}

			.number {
				font-size: 20px;
				display: inline-block;
				position: relative;
				top: 50%;
				left: 0;
				margin-top: -14px;
				color: $btn-text;
			}
		}
	}
}

.park-selected {
	opacity: .5;
}

.park-selected-official {
	border: 6px solid $btn-text !important;
}

.number-overlay {
	font-size: 62px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: -44px;
	color: $btn-text;
	opacity: 0;
	@include transformGeneral(scale( .5, .5 ));
}

.park-info-cont {
	padding: 15px 25px;
	margin: 0;
	color: $btn-text;

	li {
		display: block;
		white-space: nowrap;
	}
}

.park-images-ul {
	overflow: hidden;
	width: 100%;
	height: 125px;
	position: relative;

	@media all and (min-width: $screen-sm) {
		height: auto; // to open horizontal scroll bar visibility
	}

	ul {
		margin: 0;
		padding: 0;
		overflow-x: scroll;
		white-space: nowrap;
		padding-bottom: 17px;
		height: 148px; // to remove any possibility of a vertical scroll from appearing

		@media all and (min-width: $screen-sm) {
			padding-bottom: 0;
		}

		li {
			display: inline-block;
			padding-right: 5px;

			img {
				height: 125px;
			}
		}
	}
}

.svg-check {
	display    : none;
	position   : absolute;
	top        : 40%;
	left       : 50%;
	margin-left: -20px;
	margin-top : -20px;
	width      : 40px;
	height     : 40px;
	background-color: #524231;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.li-gradient-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.chosen-park-list {
	position: fixed;
	top: auto;
	display: none;
	left: auto;
	right: 0;
	bottom: 80px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 48%, rgba(255,255,255,1) 58%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(48%, rgba(255,255,255,0.83)), color-stop(58%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 48%, rgba(255,255,255,1) 58%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 48%, rgba(255,255,255,1) 58%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 48%, rgba(255,255,255,1) 58%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 48%, rgba(255,255,255,1) 58%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	opacity: .9;

	@media (min-width: $screen-sm)
	{
		right: 2%;
	}

    ul {
    	padding: 0;
    	margin: 0;
	    padding: 10px 10px 10px 40px;

    	@media (min-width: $screen-sm)
		{
			padding: 10px 0 10px 40px;
		}

    	li {
    		text-align: right;
    		list-style: none;
    		color: $btn-text;
    		cursor: pointer;
    		padding: 4px 0;
    	}
    }
}

.loading-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	@include transitionStyle(all, .2s, ease-in-out);

	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		opacity: .8;
	}

	.contents {
		position: fixed;
	    top: 50%;
	    left: 50%;
	    text-align: center;
	    @include transformGeneral(translateX(-50%) translateY(-50%));

	    svg {
			width: 60px;
			height: auto;
		}

		.text {
			height: 20px;
			position: relative;
			margin: 10px auto;

			p {
				font-size: 14px;
				padding: 0;
				margin: 0;
				position: absolute;
	    		top: 50%;
	    		color: $btn-text;
	    		opacity: 0;
			}
		}

	}
}

.loading-screen-small {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	@include transitionStyle(all, .2s, ease-in-out);

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		opacity: .8;
	}

	svg {
		width: 35px;
		height: auto;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    text-align: center;
	    @include transformGeneral(translateX(-50%) translateY(-50%));
	}
}

.fa-styling {
	color: $dark-main;
	width: 16px;
	text-align: center;
}

footer {
	color    : $dark-main;
	font-size: 10px;
	margin   : 10px;
}



/* TRANSITION SPECIFIC */



.ani-left {
	@include translateStyleThreeD( -2000px, 0, 0);
	opacity: 0;
}

.ani-right {
	@include translateStyleThreeD( 0, 0, 0);
	opacity: 1;
}

.ani-fadeOut {
	opacity: 0;
}

.ani-fadeIn {
	opacity: 1;
}

.ani-fadeOutZindex {
	opacity: 0;
	z-index: -1;
	@include animationFunc( zoomAniNoRotateRev, .3s, forwards );
}

.ani-fadeInZindex {
	opacity: 1;
	z-index: 1;
	@include animationFunc( zoomAniNoRotate, .3s, forwards );
}



/* ANIMATION SPECIFIC */



.zoom-check {
	@include animationFunc( zoomAni, .8s, forwards );
}

.zoom-check-reverse {
	@include animationFunc( zoomAniRev, .5s, forwards );
}

.zoom-check-shadow {
	@include animationFunc( zoomAniRevShadow, .5s, forwards );
}

.zoom-check-shadow-reverse {
	@include animationFunc( zoomAniRevShadowRev, .5s, forwards );
}

.slide-center {
	@include animationFunc( slideAni, .5s, forwards );
}

.number-zoom {
	@include animationFunc( numberZoomAni, 1s, forwards );
	-webkit-animation-timing-function: cubic-bezier(.17,.67,.83,.67);
	-moz-animation-timing-function: cubic-bezier(.17,.67,.83,.67);
	-o-animation-timing-function: cubic-bezier(.17,.67,.83,.67);
	animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.fade-in-and-up {
	@include animationFunc( fadeInAndUp, 1s, forwards );
}

.li-click {
	@include animationFunc( liButtonClick, .5s, forwards);
	-webkit-transform: perspective(200px) translateZ(0);
	-moz-transform: perspective(200px) translateZ(0);
	-o-transform: perspective(200px) translateZ(0);
	transform: perspective(200px) translateZ(0);
}

.li-click-text {
	@include animationFunc( liButtonClickText, 1s, forwards);
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-transform: perspective(200px) translateZ(0);
	-moz-transform: perspective(200px) translateZ(0);
	-o-transform: perspective(200px) translateZ(0);
	transform: perspective(200px) translateZ(0);
}

.top-leaf {
	fill: #71E271;
	@include animationFunc( colorSwapToBrightGreen, .5s, infinite );
}

.bottom-leaf {
	fill: #00CA3E;
	@include animationFunc( colorSwapToDarkGreen, .5s, infinite );
}

.loading-text {
	@include animationFunc( loadingText, .9s, infinite );
}



/* KEY FRAMES */

@keyframes loadingText {
    0% {
    	opacity: .7;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	opacity: .7;
    }
}

@keyframes liButtonClick {
    0% {
		transform: scale3d(1,1,1);
    }
    50% {
    	transform: scale3d(1.05,1.05,1);
    }
    100% {
    	transform: scale3d(1,1,1);
    }
}

@-webkit-keyframes liButtonClick {
    0% {
		-webkit-transform: scale3d(1,1,1);
    }
    50% {
    	-webkit-transform: scale3d(1.05,1.05,1);
    }
    100% {
    	-webkit-transform: scale3d(1,1,1);
    }
}

@-moz-keyframes liButtonClick {
    0% {
		-moz-transform: scale3d(1,1,1);
    }
    50% {
    	-moz-transform: scale3d(1.05,1.05,1);
    }
    100% {
    	-moz-transform: scale3d(1,1,1);
    }
}

@-o-keyframes liButtonClick {
    0% {
		-o-transform: scale3d(1,1,1);
    }
    50% {
    	-o-transform: scale3d(1.05,1.05,1);
    }
    100% {
    	-o-transform: scale3d(1,1,1);
    }
}

@keyframes liButtonClickText {
    0% {
		opacity: 1;
    }
    50% {
    	opacity: .3;
    }
    100% {
    	opacity: 1;
    }
}

@-webkit-keyframes liButtonClickText {
    0% {
		opacity: 1;
    }
    50% {
    	opacity: .5;
    }
    100% {
    	opacity: 1;
    }
}

@-moz-keyframes liButtonClickText {
    0% {
		opacity: 1;
    }
    50% {
    	opacity: .5;
    }
    100% {
    	opacity: 1;
    }
}

@-o-keyframes liButtonClickText {
    0% {
		opacity: 1;
    }
    50% {
    	opacity: .5;
    }
    100% {
    	opacity: 1;
    }
}

@-webkit-keyframes fadeInAndUp {
   0% {
   		opacity: 0;
		-webkit-transform: translate(0, 20px);
    }
    100% {
    	opacity: 1;
		-webkit-transform: translate(0, 0);
    }
}

@keyframes fadeInAndUp {
   0% {
   		opacity: 0;
		transform: translate(0, 20px);
    }
    100% {
    	opacity: 1;
		transform: translate(0, 0);
    }
}

@-moz-keyframes fadeInAndUp {
   0% {
   		opacity: 0;
		-moz-transform: translate(0, 20px);
    }
    100% {
    	opacity: 1;
		-moz-transform: translate(0, 0);
    }
}

@-o-keyframes fadeInAndUp {
   0% {
   		opacity: 0;
		-o-transform: translate(0, 20px);
    }
    100% {
    	opacity: 1;
		-o-transform: translate(0, 0);
    }
}

@-webkit-keyframes zoomAni {
    0% {
		-webkit-transform: scale( 0, 0 ) rotate( 0deg );
    }
    50% {
		-webkit-transform: scale( 1.1, 1.1 ) rotate( 360deg );
    }
    100% {
		-webkit-transform: scale( 1, 1 ) rotate( 360deg );
    }
}

@keyframes zoomAni {
    0% {
		transform: scale( 0, 0 ) rotate( 0deg );
    }
    50% {
		transform: scale( 1.1, 1.1 ) rotate( 360deg );
    }
    100% {
		transform: scale( 1, 1 ) rotate( 360deg );
    }
}

@-moz-keyframes zoomAni {
    0% {
		-moz-transform: scale( 0, 0 ) rotate( 0deg );
    }
    50% {
		-moz-transform: scale( 1.1, 1.1 ) rotate( 360deg );
    }
    100% {
		-moz-transform: scale( 1, 1 ) rotate( 360deg );
    }
}

@-o-keyframes zoomAni {
    0% {
		-o-transform: scale( 0, 0 ) rotate( 0deg );
    }
    50% {
		-o-transform: scale( 1.1, 1.1 ) rotate( 360deg );
    }
    100% {
		-o-transform: scale( 1, 1 ) rotate( 360deg );
    }
}

@-webkit-keyframes zoomAniRev {
    0% {
		-webkit-transform: scale( 1, 1 ) rotate( 0deg );
		transform        : scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		-webkit-transform: scale( 0, 0 ) rotate( 360deg );
		transform        : scale( 0, 0 ) rotate( 360deg );
    }
}

@keyframes zoomAniRev {
   0% {
		transform: scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		transform: scale( 0, 0 ) rotate( 360deg );
    }
}

@-moz-keyframes zoomAniRev {
    0% {
		-moz-transform: scale( 1, 1 ) rotate( 0deg );
		transform     : scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		-moz-transform: scale( 0, 0 ) rotate( 360deg );
		transform     : scale( 0, 0 ) rotate( 360deg );
    }
}

@-o-keyframes zoomAniRev {
    0% {
		-o-transform: scale( 1, 1 ) rotate( 0deg );
		transform   : scale( 1, 1 ) rotate( 0deg );
    }
    100% {
		-o-transform: scale( 0, 0 ) rotate( 360deg );
		transform   : scale( 0, 0 ) rotate( 360deg );
    }
}

@-webkit-keyframes zoomAniRevShadow {
    0% {
		-webkit-transform: scale( 0, 0 );
		transform        : scale( 0, 0 );
    }
    100% {
		-webkit-transform: scale( 1, 1 );
		transform        : scale( 1, 1 );
    }
}

@keyframes zoomAniRevShadow {
   0% {
		transform: scale( 0, 0 );
    }
    100% {
		transform: scale( 1, 1 );
    }
}

@-moz-keyframes zoomAniRevShadow {
    0% {
		-moz-transform: scale( 0, 0 );
		transform     : scale( 0, 0 );
    }
    100% {
		-moz-transform: scale( 1, 1 );
		transform     : scale( 1, 1 );
    }
}

@-o-keyframes zoomAniRevShadow {
    0% {
		-o-transform: scale( 0, 0 );
		transform   : scale( 0, 0 );
    }
    100% {
		-o-transform: scale( 1, 1 );
		transform   : scale( 1, 1 );
    }
}

@-webkit-keyframes zoomAniRevShadowRev {
    0% {
		-webkit-transform: scale( 1, 1 );
		transform        : scale( 1, 1 );
    }
    100% {
		-webkit-transform: scale( 0, 0 );
		transform        : scale( 0, 0 );
    }
}

@keyframes zoomAniRevShadowRev {
   0% {
		transform: scale( 1, 1 );
    }
    100% {
		transform: scale( 0, 0 );
    }
}

@-moz-keyframes zoomAniRevShadowRev {
    0% {
		-moz-transform: scale( 1, 1 );
		transform     : scale( 1, 1 );
    }
    100% {
		-moz-transform: scale( 0, 0 );
		transform     : scale( 0, 0 );
    }
}

@-o-keyframes zoomAniRevShadowRev {
    0% {
		-o-transform: scale( 1, 1 );
		transform   : scale( 1, 1 );
    }
    100% {
		-o-transform: scale( 0, 0 );
		transform   : scale( 0, 0 );
    }
}

@-webkit-keyframes slideAni {
    0% {
		-webkit-transform: translate( -5px, 0px );
		transform        : translate( -5px, 0px );
    }
    100% {
		-webkit-transform: translate( -5px, 0px );
		transform        : translate( -5px, 0px );
    }
}

@keyframes slideAni {
   0% {
		transform: translate( -5px, 0px );
    }
    100% {
		transform: translate( -5px, 0px );
    }
}

@-moz-keyframes slideAni {
    0% {
		-moz-transform: translate( -5px, 0px );
		transform     : translate( -5px, 0px );
    }
    100% {
		-moz-transform: translate( -5px, 0px );
		transform     : translate( -5px, 0px );
    }
}

@-o-keyframes slideAni {
    0% {
		-o-transform: translate( -5px, 0px );
		transform   : translate( -5px, 0px );
    }
    100% {
		-o-transform: translate( -5px, 0px );
		transform   : translate( -5px, 0px );
    }
}

@-webkit-keyframes numberZoomAni {
   0% {
   		opacity: 0;
		-webkit-transform: scale( .5, .5 );
    }
    50% {
    	opacity: .5;
		-webkit-transform: scale( .75, .75 );
    }
    99% {
    	opacity: 0;
		-webkit-transform: scale( 1, 1 );
    }
    100% {
    	opacity: 0;
		-webkit-transform: scale( .5, .5 );
    }
}

@keyframes numberZoomAni {
   0% {
   		opacity: 0;
		transform: scale( .5, .5 );
    }
    50% {
    	opacity: .5;
		transform: scale( .75, .75 );
    }
    99% {
    	opacity: 0;
		transform: scale( 1, 1 );
    }
    100% {
    	opacity: 0;
		transform: scale( .5, .5 );
    }
}

@-moz-keyframes numberZoomAni {
   0% {
   		opacity: 0;
		-moz-transform: scale( .5, .5 );
    }
    50% {
    	opacity: .5;
		-moz-transform: scale( .75, .75 );
    }
    99% {
    	opacity: 0;
		-moz-transform: scale( 1, 1 );
    }
    100% {
    	opacity: 0;
		-moz-transform: scale( .5, .5 );
    }
}

@-o-keyframes numberZoomAni {
   0% {
   		opacity: 0;
		-o-transform: scale( .5, .5 );
    }
    50% {
    	opacity: .5;
		-o-transform: scale( .75, .75 );
    }
    99% {
    	opacity: 0;
		-o-transform: scale( 1, 1 );
    }
    100% {
    	opacity: 0;
		-o-transform: scale( .5, .5 );
    }
}

@keyframes colorSwapToBrightGreen {
    0% {
		fill: #71E271;
    }
    50% {
		fill: #00CA3E;
    }
    100% {
		fill: #71E271;
    }
}

@-webkit-keyframes colorSwapToBrightGreen {
    0% {
		fill: #71E271;
    }
    50% {
		fill: #00CA3E;
    }
    100% {
		fill: #71E271;
    }
}

@-moz-keyframes colorSwapToBrightGreen {
    0% {
		fill: #71E271;
    }
    50% {
		fill: #00CA3E;
    }
    100% {
		fill: #71E271;
    }
}

@-o-keyframes colorSwapToBrightGreen {
    0% {
		fill: #71E271;
    }
    50% {
		fill: #00CA3E;
    }
    100% {
		fill: #71E271;
    }
}

@keyframes colorSwapToDarkGreen {
    0% {
		fill: #00CA3E;
    }
    50% {
		fill: #71E271;
    }
    100% {
		fill: #00CA3E;
    }
}

@-webkit-keyframes colorSwapToDarkGreen {
    0% {
		fill: #00CA3E;
    }
    50% {
		fill: #71E271;
    }
    100% {
		fill: #00CA3E;
    }
}

@-moz-keyframes colorSwapToDarkGreen {
    0% {
		fill: #00CA3E;
    }
    50% {
		fill: #71E271;
    }
    100% {
		fill: #00CA3E;
    }
}

@-o-keyframes colorSwapToDarkGreen {
    0% {
		fill: #00CA3E;
    }
    50% {
		fill: #71E271;
    }
    100% {
		fill: #00CA3E;
    }
}

@keyframes zoomAniNoRotate {
    0% {
		transform: scale( 0, 0 );
    }
    50% {
		transform: scale( 1.1, 1.1 );
    }
    100% {
		transform: scale( 1, 1 );
    }
}

@-webkit-keyframes zoomAniNoRotate {
    0% {
		-webkit-transform: scale( 0, 0 );
    }
    50% {
		-webkit-transform: scale( 1.1, 1.1 );
    }
    100% {
		-webkit-transform: scale( 1, 1 );
    }
}

@-moz-keyframes zoomAniNoRotate {
    0% {
		-moz-transform: scale( 0, 0 );
    }
    50% {
		-moz-transform: scale( 1.1, 1.1 );
    }
    100% {
		-moz-transform: scale( 1, 1 );
    }
}

@-o-keyframes zoomAniNoRotate {
    0% {
		-o-transform: scale( 0, 0 );
    }
    50% {
		-o-transform: scale( 1.1, 1.1 );
    }
    100% {
		-o-transform: scale( 1, 1 );
    }
}

@keyframes zoomAniNoRotateRev {
    0% {
		transform: scale( 1, 1 );
    }
    50% {
		transform: scale( 1.1, 1.1 );
    }
    100% {
		transform: scale( 0, 0 );
    }
}

@-webkit-keyframes zoomAniNoRotateRev {
    0% {
		-webkit-transform: scale( 1, 1 );
    }
    50% {
		-webkit-transform: scale( 1.1, 1.1 );
    }
    100% {
		-webkit-transform: scale( 0, 0 );
    }
}

@-moz-keyframes zoomAniNoRotateRev {
    0% {
		-moz-transform: scale( 1, 1 );
    }
    50% {
		-moz-transform: scale( 1.1, 1.1 );
    }
    100% {
		-moz-transform: scale( 0, 0 );
    }
}

@-o-keyframes zoomAniNoRotateRev {
    0% {
		-o-transform: scale( 1, 1 );
    }
    50% {
		-o-transform: scale( 1.1, 1.1 );
    }
    100% {
		-o-transform: scale( 0, 0 );
    }
}