@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow            : 0 0 1px rgba(128,128,128,0.01);
}

body {
	font-family: 'Archivo Narrow', serif;
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.park-nav {
	ul {
		list-style: none;
		margin    : 0;
		padding   : 0;
		li {
			position: relative;
			height  : 120px;
			width   : auto;
			margin  : 5px 0 5px 0;
			p {
				position        : absolute;
				bottom          : 0;
				left            : 0;
				margin          : 0;
				width           : 100%;
				background-color: rgba( 255, 255, 255, .5 );
				font-size       : 20px;
			}
		}
	}
}

.li-bg {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition   : all .2s ease-in-out;
	-ms-transition    : all .2s ease-in-out;
	-o-transition     : all .2s ease-in-out;
	transition        : all .2s ease-in-out;
	opacity           : 1;
	&:hover {
		opacity: .9;
		cursor : pointer;
	}
}